<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<header>
  <!-- Navigation bar -->
  <nav class="relative flex w-full items-center justify-between bg-primary py-2 text-white shadow-lg hover:gray focus:text-neutral-700">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
      <div class="flex items-center">
        <!-- Hamburger menu button -->
        <button class="border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden"
          type="button" aria-controls="navbarSupportedContentY" aria-expanded="false" aria-label="Toggle navigation">
          <!-- Hamburger menu icon -->
        </button>
      </div>

      <!-- Navigation links -->
      <div class="!visible hidden grow basis-[100%] items-center lg:!flex lg:basis-auto" id="navbarSupportedContentY">
        <ul class="mr-auto flex flex-col lg:flex-row">
          <li class="mb-4 lg:mb-0 lg:pr-2">
            <a class="block transition duration-150 ease-in-out hover:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2" href="">
              Home
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
